@use "../abstract/" as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  align-items: center;
  inline-size: 100%;

  // Duplicate if browser can't render gradients.
  background: var(--mobile-gradient-one);
  background: url("../assets/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(
      140deg,
      var(--mobile-gradient-one) 0%,
      var(--mobile-gradient-two) 80%
    );
  background-repeat: no-repeat;
  background-position: 35% 35%;
  background-size: 300%;
  border-end-start-radius: rem(120);
  padding-block-start: rem(180);

  block-size: rem(600);

  @include breakpoint(large) {
    background: url("../assets/images/bg-pattern-intro-desktop.svg"),
      linear-gradient(
        90deg,
        var(--mobile-gradient-one) 0%,
        var(--mobile-gradient-two) 65%
      );
    background-position: 25% 52%;
    background-size: 230%;
    block-size: rem(500);
  }
}

.headings-h1 {
  inline-size: rem(330);
  @include breakpoint(large) {
    inline-size: 100%;
  }
}

.hero__p {
  inline-size: rem(300);
  @include breakpoint(large) {
    inline-size: 100%;
  }
}

.hero-btn-wrapper {
  display: flex;
  gap: rem(16);
  align-items: center;
  justify-content: center;
  margin-block-start: rem(40);
  inline-size: 100%;
}

.hero__btn {
  border: rem(1) solid rgba(255, 255, 255, 0%);

  border-radius: rem(25);
  padding-block: rem(15);
  padding-inline: rem(25);

  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

.hero__btn--bg-on {
  background-color: var(--white);

  &:hover {
    background-color: rgba(255, 255, 255, 30%);
  }
}

.hero__btn--bg-off {
  border-color: var(--white);

  background-color: rgba(255, 255, 255, 0%);

  &:hover {
    background-color: var(--white);
  }
}
